---
import BaseLayout from "../layouts/BaseLine.astro";
import heroBanner from "../assets/FrontPageBG.png";
import profileImage from "../assets/TTucci pfp.jpg";
import projectImage from "../assets/Stardust ico.png";
import aboutImage from "../assets/TTucciGradMain.jpg";

const pageTitle = "Tanner Tucci";
const siteName = "Tanner Tucci";
---

<BaseLayout pageTitle={pageTitle} siteName={siteName}>
  <main>
    <section id="hero" data-astro-cid-anhloy43="">
    <header class="hero-header" data-astro-cid-anhloy43="">
        <picture class="hero-banner" data-astro-cid-anhloy43="">
            <img
                src={heroBanner.src}
                alt="Technology Banner"
                loading="lazy"
                width="750"
                height="150"
                data-astro-cid-anhloy43=""
            />
        </picture>
    </header>
    <picture class="hero-logo" data-astro-cid-anhloy43="">
        <img
            src={profileImage.src}
            alt="Tanner Tucci's Profile Picture"
            width="200"
            height="200"
            data-astro-cid-anhloy43=""
        />
    </picture>
    <div class="hero-content" data-astro-cid-anhloy43="">
        <h1 data-astro-cid-anhloy43="">Tanner Tucci</h1>
        <p data-astro-cid-anhloy43="">
            A Fanatic Front-End Developer with a Passion for Crafting Seamless User Experiences and animations.
        </p>
        <a
            href="mailto:tctucci13@outlook.com"
            data-cta="contact me"
            data-astro-cid-anhloy43="">Email Me</a>
    </div>
</section>
<section id="experience" data-astro-cid-ghubstuj="">
    <h2 data-astro-cid-ghubstuj="">Experience</h2>
    <ul class="timeline" data-astro-cid-ghubstuj="">
        <li class="timeline-item" data-astro-cid-ghubstuj="">
            <h3 data-astro-cid-wjbk2oyg=""> Front End Developer	</h3>
            <h4 data-astro-cid-wjbk2oyg="">Front End Now</h4>
            <span class="timeline-date" data-astro-cid-wjbk2oyg=""></span>
            Feb 2026 - Present
            </span>
            <div data-astro-cid-wjbk2oyg="">
                <p data-astro-cid-wjbk2oyg="">
                   Learned, Practiced, and Developed; HTML, CSS, Javascript, React, Firebase, Next.js, Typescript, and Redux 
                </p>
                <p data-astro-cid-wjbk2oyg="">
                    Built strong fundamentals of modern web development with Semantic HTML and Emmet tooling alongside Alogrithmic use of Javascript. 
                </p>
            </div>
        </li>
        <li class="timeline-item" data-astro-cid-ghubstuj="">
            <h3 data-astro-cid-wjbk2oyg=""> A/V Technician & QSYS FrontEnd Developer </h3>
            <h4 data-astro-cid-wjbk2oyg="">Ilani Casino</h4>
            <span class="timeline-date" data-astro-cid-wjbk2oyg="">
                June 2025 - Present
                </span>
                <div data-astro-cid-wjbk2oyg="">
                    <p data-astro-cid-wjbk2oyg=""> Built a live inventory management system in PHP to track all A/V equipment across the casino. </p>
                    <p data-astro-cid-wjbk2oyg=""> Worked closely with design and apps management teams to assist with Vlan configuration and network management for A/V systems. </p>
                </div>
        </li>
        <li class="timeline-item" data-astro-cid-ghubstuj="">
            <h3 data-astro-cid-wjbk2oyg="">
                Cyber Security Analyst
            </h3><span class="timeline-date" data-astro-cid-wjbk2oyg=""
                >January 2025 - July 2025</span
            ><div data-astro-cid-wjbk2oyg="">
                <p data-astro-cid-wjbk2oyg="">
                    Create Automation for Project management and IT Security for clients, minimizing data input and providing a general ~80% increase in client project productivity.\
                </p><p data-astro-cid-wjbk2oyg="">
                    Applied ‘Pen Tests’ to client web structures, attempting to breach the client‘s web structure reducing chances of data breaches by 40%.
                </p>
            </div>
        </li>
    </ul>
</section>
<section id="skills" data-astro-cid-sye7xtqh="">
    <h2 data-astro-cid-sye7xtqh="">Skills</h2>
    <div class="carousel-container" data-astro-cid-sye7xtqh="">
        <ul class="skills-list" data-astro-cid-sye7xtqh="">
            <li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 16 16"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm-1.139 7.488q-.585 0-1.006.244a1.67 1.67 0 0 0-.634.674a2.1 2.1 0 0 0-.225.996q0 .753.293 1.182q.303.42.967.732l.469.215q.438.186.625.43q.185.244.185.635q0 .478-.166.703q-.156.224-.527.224q-.361.001-.547-.244q-.186-.243-.205-.752h-1.162q.02.996.498 1.524q.479.527 1.386.527q.909 0 1.417-.518q.507-.517.507-1.484q0-.81-.332-1.289t-1.045-.79l-.449-.196q-.39-.166-.556-.381q-.166-.214-.166-.576q0-.4.165-.596q.177-.195.508-.195q.361 0 .508.234q.156.234.176.703h1.123q-.03-.976-.498-1.484q-.47-.518-1.309-.518M7 7.596v1.113h1.3V14.5h1.221V8.709h1.289V7.596z"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M12.001 13.5a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m-.528 2.994q.262.316.528.609q.266-.292.528-.609a25 25 0 0 1-1.056 0m-1.995-.125a21 21 0 0 1-2.285-.367q-.113.525-.17 1.015c-.19 1.583.075 2.545.478 2.777s1.368-.019 2.645-.974q.395-.296.794-.655a21 21 0 0 1-1.462-1.796m7.331-.367a21 21 0 0 1-2.285.367a21 21 0 0 1-1.462 1.796q.4.36.794.655c1.277.955 2.242 1.207 2.645.974c.403-.232.667-1.194.479-2.777a11 11 0 0 0-.17-1.015m1.45-.388c.577 2.639.274 4.74-1.008 5.48s-3.253-.048-5.25-1.867c-1.997 1.819-3.968 2.606-5.25 1.866s-1.585-2.84-1.009-5.48C3.168 14.794 1.501 13.48 1.501 12s1.667-2.793 4.241-3.613c-.576-2.64-.273-4.74 1.009-5.48s3.253.047 5.25 1.866c1.997-1.819 3.968-2.606 5.25-1.866s1.585 2.84 1.009 5.48c2.573.82 4.24 2.133 4.24 3.613s-1.668 2.794-4.241 3.614m-7.32-9.779q-.398-.359-.793-.655C8.869 4.225 7.904 3.973 7.5 4.206c-.403.232-.667 1.194-.479 2.778q.06.49.17 1.015a21 21 0 0 1 2.286-.368q.714-.981 1.462-1.796m3.585 1.796a21 21 0 0 1 2.285.368q.113-.526.17-1.015c.19-1.584-.075-2.546-.478-2.778s-1.368.019-2.645.974q-.395.296-.794.655q.748.815 1.462 1.796m-1.995-.125q-.262-.316-.528-.609q-.265.293-.528.609a25 25 0 0 1 1.056 0m-4.156 7.198a25 25 0 0 1-.528-.914q-.143.385-.263.762q.386.083.79.152m1.932.234a23 23 0 0 0 3.392 0A23 23 0 0 0 15.393 12a23 23 0 0 0-1.696-2.938a23 23 0 0 0-3.392 0A23 23 0 0 0 8.609 12a23 23 0 0 0 1.696 2.938m5.852-4.728q.143-.385.263-.761a18 18 0 0 0-.79-.153a25 25 0 0 1 .527.914M6.131 9.837q-.51.165-.964.36c-1.465.628-2.166 1.338-2.166 1.803s.7 1.175 2.166 1.803q.454.195.964.36c.222-.7.497-1.426.825-2.163a21 21 0 0 1-.825-2.163m1.45-.388q.121.375.264.76a25 25 0 0 1 .528-.913q-.405.069-.791.153m10.29 4.714q.51-.165.964-.36C20.3 13.175 21 12.465 21 12s-.7-1.175-2.166-1.803q-.454-.195-.965-.36c-.22.7-.496 1.426-.824 2.163c.328.737.603 1.463.825 2.163m-1.45.389q-.122-.377-.264-.762a25 25 0 0 1-.528.914q.405-.07.791-.152"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    data-astro-cid-sye7xtqh="true"
                    ><g fill="none"
                        ><rect width="256" height="256" fill="#f4f2ed" rx="60"
                        ></rect><path
                            fill="#000"
                            d="M49.158 100.246h28.408q12.507.106 18.126 7.208q5.618 7.101 3.71 19.398q-.742 5.618-3.286 11.024q-2.438 5.406-6.784 9.752q-5.3 5.511-11.342 6.996q-6.043 1.484-12.508 1.484h-12.72l-4.028 20.14H34zM61.56 112.33l-6.36 31.8q.636.106 1.272.106h1.484q10.177.106 16.96-2.014q6.784-2.226 9.116-15.476q1.908-11.13-3.816-12.826q-5.618-1.695-14.098-1.59q-1.271.106-2.438.106h-2.226zM116.186 80h14.628l-4.134 20.246h13.144q10.811.213 16.112 4.452q5.406 4.24 3.18 16.112l-7.102 35.298h-14.84l6.784-33.708q1.059-5.3-.636-7.526t-7.314-2.226l-11.766-.106l-8.692 43.566h-14.628zm58.638 20.246h28.408q12.507.106 18.126 7.208q5.618 7.101 3.71 19.398q-.742 5.618-3.286 11.024q-2.438 5.406-6.784 9.752q-5.3 5.511-11.342 6.996q-6.043 1.484-12.508 1.484h-12.72l-4.028 20.14h-14.734zm12.402 12.084l-6.36 31.8q.636.106 1.272.106h1.484q10.177.106 16.96-2.014q6.784-2.226 9.116-15.476q1.908-11.13-3.816-12.826q-5.618-1.695-14.098-1.59q-1.272.106-2.438.106h-2.226z"
                        ></path></g
                    ></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M9.24 19.035c-.901-.826-1.164-2.561-.789-3.819c.65.793 1.552 1.044 2.486 1.186c1.44.218 2.856.137 4.195-.524c.153-.076.295-.177.462-.278c.126.365.159.734.115 1.11c-.107.915-.56 1.622-1.283 2.158c-.289.215-.594.406-.892.608c-.916.622-1.164 1.35-.82 2.41l.034.114a2.4 2.4 0 0 1-1.07-.918a2.6 2.6 0 0 1-.412-1.401c-.003-.248-.003-.497-.036-.74c-.081-.595-.36-.86-.883-.876a1.034 1.034 0 0 0-1.075.843q-.013.058-.033.126M4.1 15.007s2.666-1.303 5.34-1.303l2.016-6.26c.075-.304.296-.51.544-.51c.25 0 .47.206.545.51l2.016 6.26c3.167 0 5.34 1.303 5.34 1.303L15.363 2.602c-.13-.366-.35-.602-.645-.602H9.283c-.296 0-.506.236-.645.602c-.01.024-4.538 12.405-4.538 12.405"
                    ></path></svg>
            </li>
            <li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M21.57 9.429c-.354-1.355-1-2.42-2.355-2.42H17.41v2.13c0 1.645-1.42 3.032-2.936 3.032H9.665c-1.322 0-2.355 1.13-2.355 2.452v4.55c0 1.257 1.13 2.032 2.355 2.451c1.485.452 2.936.549 4.775 0c1.194-.355 2.356-1.032 2.356-2.452v-1.807h-4.743v-.58h7.162c1.355 0 1.904-.968 2.355-2.42c.484-1.581.484-3.033 0-4.936m-6.84 9.033c.485 0 .904.42.904.904s-.42.903-.903.903c-.484.032-.904-.42-.904-.903c-.032-.484.387-.904.904-.904m-5.29-6.904h4.775c1.322 0 2.355-1.097 2.355-2.452V4.621c0-1.258-1.097-2.226-2.356-2.452c-1.58-.225-3.323-.225-4.774 0c-2.033.355-2.356 1.097-2.356 2.452v1.807h4.775v.58H5.342c-1.355 0-2.581.872-2.936 2.42c-.452 1.807-.452 2.936 0 4.808c.355 1.42 1.13 2.42 2.549 2.42h1.549v-2.162c-.033-1.581 1.355-2.936 2.936-2.936m-.29-6.356a.923.923 0 0 1-.904-.903c0-.484.42-.904.903-.904s.904.42.904.904s-.42.903-.904.903"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 32 32"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="#cfd8dc"
                        d="M16 2a14 14 0 1 0 5.816 26.723L12 14v9a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2.434a1 1 0 0 1 .857.486l11.491 19.15A14 14 0 0 0 16 2m8 16h-4V9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1Z"
                    ></path></svg>
            </li>
            <li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 16 16"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm-1.139 7.488q-.585 0-1.006.244a1.67 1.67 0 0 0-.634.674a2.1 2.1 0 0 0-.225.996q0 .753.293 1.182q.303.42.967.732l.469.215q.438.186.625.43q.185.244.185.635q0 .478-.166.703q-.156.224-.527.224q-.361.001-.547-.244q-.186-.243-.205-.752h-1.162q.02.996.498 1.524q.479.527 1.386.527q.909 0 1.417-.518q.507-.517.507-1.484q0-.81-.332-1.289t-1.045-.79l-.449-.196q-.39-.166-.556-.381q-.166-.214-.166-.576q0-.4.165-.596q.177-.195.508-.195q.361 0 .508.234q.156.234.176.703h1.123q-.03-.976-.498-1.484q-.47-.518-1.309-.518M7 7.596v1.113h1.3V14.5h1.221V8.709h1.289V7.596z"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M12.001 13.5a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m-.528 2.994q.262.316.528.609q.266-.292.528-.609a25 25 0 0 1-1.056 0m-1.995-.125a21 21 0 0 1-2.285-.367q-.113.525-.17 1.015c-.19 1.583.075 2.545.478 2.777s1.368-.019 2.645-.974q.395-.296.794-.655a21 21 0 0 1-1.462-1.796m7.331-.367a21 21 0 0 1-2.285.367a21 21 0 0 1-1.462 1.796q.4.36.794.655c1.277.955 2.242 1.207 2.645.974c.403-.232.667-1.194.479-2.777a11 11 0 0 0-.17-1.015m1.45-.388c.577 2.639.274 4.74-1.008 5.48s-3.253-.048-5.25-1.867c-1.997 1.819-3.968 2.606-5.25 1.866s-1.585-2.84-1.009-5.48C3.168 14.794 1.501 13.48 1.501 12s1.667-2.793 4.241-3.613c-.576-2.64-.273-4.74 1.009-5.48s3.253.047 5.25 1.866c1.997-1.819 3.968-2.606 5.25-1.866s1.585 2.84 1.009 5.48c2.573.82 4.24 2.133 4.24 3.613s-1.668 2.794-4.241 3.614m-7.32-9.779q-.398-.359-.793-.655C8.869 4.225 7.904 3.973 7.5 4.206c-.403.232-.667 1.194-.479 2.778q.06.49.17 1.015a21 21 0 0 1 2.286-.368q.714-.981 1.462-1.796m3.585 1.796a21 21 0 0 1 2.285.368q.113-.526.17-1.015c.19-1.584-.075-2.546-.478-2.778s-1.368.019-2.645.974q-.395.296-.794.655q.748.815 1.462 1.796m-1.995-.125q-.262-.316-.528-.609q-.265.293-.528.609a25 25 0 0 1 1.056 0m-4.156 7.198a25 25 0 0 1-.528-.914q-.143.385-.263.762q.386.083.79.152m1.932.234a23 23 0 0 0 3.392 0A23 23 0 0 0 15.393 12a23 23 0 0 0-1.696-2.938a23 23 0 0 0-3.392 0A23 23 0 0 0 8.609 12a23 23 0 0 0 1.696 2.938m5.852-4.728q.143-.385.263-.761a18 18 0 0 0-.79-.153a25 25 0 0 1 .527.914M6.131 9.837q-.51.165-.964.36c-1.465.628-2.166 1.338-2.166 1.803s.7 1.175 2.166 1.803q.454.195.964.36c.222-.7.497-1.426.825-2.163a21 21 0 0 1-.825-2.163m1.45-.388q.121.375.264.76a25 25 0 0 1 .528-.913q-.405.069-.791.153m10.29 4.714q.51-.165.964-.36C20.3 13.175 21 12.465 21 12s-.7-1.175-2.166-1.803q-.454-.195-.965-.36c-.22.7-.496 1.426-.824 2.163c.328.737.603 1.463.825 2.163m-1.45.389q-.122-.377-.264-.762a25 25 0 0 1-.528.914q.405-.07.791-.152"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    data-astro-cid-sye7xtqh="true"
                    ><g fill="none"
                        ><rect width="256" height="256" fill="#f4f2ed" rx="60"
                        ></rect><path
                            fill="#000"
                            d="M49.158 100.246h28.408q12.507.106 18.126 7.208q5.618 7.101 3.71 19.398q-.742 5.618-3.286 11.024q-2.438 5.406-6.784 9.752q-5.3 5.511-11.342 6.996q-6.043 1.484-12.508 1.484h-12.72l-4.028 20.14H34zM61.56 112.33l-6.36 31.8q.636.106 1.272.106h1.484q10.177.106 16.96-2.014q6.784-2.226 9.116-15.476q1.908-11.13-3.816-12.826q-5.618-1.695-14.098-1.59q-1.271.106-2.438.106h-2.226zM116.186 80h14.628l-4.134 20.246h13.144q10.811.213 16.112 4.452q5.406 4.24 3.18 16.112l-7.102 35.298h-14.84l6.784-33.708q1.059-5.3-.636-7.526t-7.314-2.226l-11.766-.106l-8.692 43.566h-14.628zm58.638 20.246h28.408q12.507.106 18.126 7.208q5.618 7.101 3.71 19.398q-.742 5.618-3.286 11.024q-2.438 5.406-6.784 9.752q-5.3 5.511-11.342 6.996q-6.043 1.484-12.508 1.484h-12.72l-4.028 20.14h-14.734zm12.402 12.084l-6.36 31.8q.636.106 1.272.106h1.484q10.177.106 16.96-2.014q6.784-2.226 9.116-15.476q1.908-11.13-3.816-12.826q-5.618-1.695-14.098-1.59q-1.272.106-2.438.106h-2.226z"
                        ></path></g
                    ></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M9.24 19.035c-.901-.826-1.164-2.561-.789-3.819c.65.793 1.552 1.044 2.486 1.186c1.44.218 2.856.137 4.195-.524c.153-.076.295-.177.462-.278c.126.365.159.734.115 1.11c-.107.915-.56 1.622-1.283 2.158c-.289.215-.594.406-.892.608c-.916.622-1.164 1.35-.82 2.41l.034.114a2.4 2.4 0 0 1-1.07-.918a2.6 2.6 0 0 1-.412-1.401c-.003-.248-.003-.497-.036-.74c-.081-.595-.36-.86-.883-.876a1.034 1.034 0 0 0-1.075.843q-.013.058-.033.126M4.1 15.007s2.666-1.303 5.34-1.303l2.016-6.26c.075-.304.296-.51.544-.51c.25 0 .47.206.545.51l2.016 6.26c3.167 0 5.34 1.303 5.34 1.303L15.363 2.602c-.13-.366-.35-.602-.645-.602H9.283c-.296 0-.506.236-.645.602c-.01.024-4.538 12.405-4.538 12.405"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 15 15"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M7.5 2.5c-1.026 0-1.908.277-2.6.87c-.688.59-1.137 1.447-1.387 2.516a.5.5 0 0 0 .897.4c.316-.452.632-.723.936-.863c.294-.135.611-.162.975-.065c.366.098.65.386 1.095.87l.015.016c.336.365.745.81 1.305 1.156c.582.359 1.305.6 2.264.6c1.026 0 1.908-.277 2.6-.87c.688-.59 1.138-1.447 1.387-2.516a.5.5 0 0 0-.897-.4c-.316.452-.632.723-.936.863c-.294.135-.611.162-.975.065c-.366-.098-.65-.386-1.095-.87l-.015-.016c-.336-.365-.745-.81-1.305-1.156c-.582-.359-1.305-.6-2.264-.6M4 7c-1.026 0-1.908.277-2.6.87C.712 8.46.263 9.317.013 10.386a.5.5 0 0 0 .897.4c.316-.452.632-.723.936-.863c.294-.135.611-.162.975-.065c.366.098.65.386 1.095.87l.015.016c.336.365.745.81 1.305 1.156c.582.359 1.305.6 2.264.6c1.026 0 1.908-.277 2.6-.87c.688-.59 1.138-1.447 1.387-2.516a.5.5 0 0 0-.897-.4c-.316.452-.632.723-.936.863c-.294.135-.611.162-.975.065c-.366-.098-.65-.386-1.095-.87l-.015-.016c-.335-.365-.745-.81-1.305-1.156C5.682 7.24 4.959 7 4 7"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="currentColor"
                        d="M21.57 9.429c-.354-1.355-1-2.42-2.355-2.42H17.41v2.13c0 1.645-1.42 3.032-2.936 3.032H9.665c-1.322 0-2.355 1.13-2.355 2.452v4.55c0 1.257 1.13 2.032 2.355 2.451c1.485.452 2.936.549 4.775 0c1.194-.355 2.356-1.032 2.356-2.452v-1.807h-4.743v-.58h7.162c1.355 0 1.904-.968 2.355-2.42c.484-1.581.484-3.033 0-4.936m-6.84 9.033c.485 0 .904.42.904.904s-.42.903-.903.903c-.484.032-.904-.42-.904-.903c-.032-.484.387-.904.904-.904m-5.29-6.904h4.775c1.322 0 2.355-1.097 2.355-2.452V4.621c0-1.258-1.097-2.226-2.356-2.452c-1.58-.225-3.323-.225-4.774 0c-2.033.355-2.356 1.097-2.356 2.452v1.807h4.775v.58H5.342c-1.355 0-2.581.872-2.936 2.42c-.452 1.807-.452 2.936 0 4.808c.355 1.42 1.13 2.42 2.549 2.42h1.549v-2.162c-.033-1.581 1.355-2.936 2.936-2.936m-.29-6.356a.923.923 0 0 1-.904-.903c0-.484.42-.904.903-.904s.904.42.904.904s-.42.903-.904.903"
                    ></path></svg>
            </li><li data-astro-cid-sye7xtqh="">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 32 32"
                    data-astro-cid-sye7xtqh="true"
                    ><path
                        fill="#cfd8dc"
                        d="M16 2a14 14 0 1 0 5.816 26.723L12 14v9a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2.434a1 1 0 0 1 .857.486l11.491 19.15A14 14 0 0 0 16 2m8 16h-4V9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1Z"
                    ></path></svg>
            </li>
        </ul>
    </div>
</section>
<section id="projects" data-astro-cid-44zkpkd5="">
    <h2 data-astro-cid-44zkpkd5="">Projects</h2>
    <ul class="card-list" data-astro-cid-44zkpkd5="">
        <li data-astro-cid-44zkpkd5="">
            <article class="card" data-astro-cid-oeghznkx="">
                <img
                    src={projectImage.src}
                    alt="Stardust Photography preview"
                    loading="lazy"
                    width="201"
                    height="103"
                    data-astro-cid-oeghznkx=""
                />
                <h3 data-astro-cid-oeghznkx="">Stardust Photography</h3>
                <p data-astro-cid-oeghznkx="">
                    A push for optimization and performance, 
                    this project Focused on using a public 
                    CMS for a client to interface with and
                    adding modern tooling to dynamically load content.
                     Especially important for photography balancing fidelity 
                     with accessibility 
                </p>
                <a
                    href="https://www.stardustphoto.net/"
                    data-astro-cid-oeghznkx="">Take A Look!</a
                >
            </article>
        </li><li data-astro-cid-44zkpkd5="">
            <article class="card" data-astro-cid-oeghznkx="">
                <img
                    src="https://picsum.photos/252/200"
                    alt="Descripción de la imagen 2"
                    loading="lazy"
                    width="201"
                    height="103"
                    data-astro-cid-oeghznkx=""
                />
                <h3 data-astro-cid-oeghznkx="">Project 2</h3>
                <p data-astro-cid-oeghznkx="">
                    This project is a web application built using Python and
                    For OTP passcode generation, simple build. No frills.
                </p>
                <a
                    href="https://github.com/Tucci-net/Tucci-OTP-"
                    data-astro-cid-oeghznkx="">Take A Look!</a
                >
            </article>
        </li><li data-astro-cid-44zkpkd5="">
            <article class="card" data-astro-cid-oeghznkx="">
                <img
                    src="https://picsum.photos/251/200"
                    alt="Descripción de la imagen 2"
                    loading="lazy"
                    width="201"
                    height="103"
                    data-astro-cid-oeghznkx=""
                />
                <h3 data-astro-cid-oeghznkx="">Project 3</h3>
                <p data-astro-cid-oeghznkx="">
                    Utilizing Js and GSAP to build custom animations, a test run of what would be used for app integration in large bands and venues more recently.
                </p>
                <a
                    href="https://github.com/Tucci-net/google-dungeon-doodle"
                    data-astro-cid-oeghznkx="">Take A Look!</a
                >
            </article>
        </li>
    </ul>
</section>
<section id="about" data-astro-cid-zsov6f23="">
    <h2 data-astro-cid-zsov6f23="">About Me</h2>
    <article data-astro-cid-zsov6f23="">
        <div class="about-profile" data-astro-cid-zsov6f23="">
            <picture data-astro-cid-zsov6f23="">
                <img
                    src={aboutImage.src}
                    alt="Tanner Tucci's Profile Picture"
                    loading="lazy"
                    width="200"
                    height="200"
                    data-astro-cid-zsov6f23=""
                />
            </picture>
            <div class="social-media" data-astro-cid-zsov6f23="">
                <a
                    href="https://www.linkedin.com/in/tanner-tucci/"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-astro-cid-zsov6f23=""
                >
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        data-astro-cid-zsov6f23="true"
                        ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                    >
                    <span class="sr-only" data-astro-cid-zsov6f23=""
                        >linkedin</span
                    >
                </a><a
                    href="https://github.com/Tucci-net"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-astro-cid-zsov6f23=""
                >
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        data-astro-cid-zsov6f23="true"
                        ><path
                            fill="currentColor"
                            d="M12.001 2c-5.525 0-10 4.475-10 10a9.99 9.99 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.3 9.3 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.02 10.02 0 0 0 22 12c0-5.525-4.475-10-10-10"
                        ></path></svg
                    >
                    <span class="sr-only" data-astro-cid-zsov6f23=""
                        >github</span
                    >
                </a>
                       <a
                    href="https://pacapunk.net"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-astro-cid-zsov6f23=""
                >
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        data-astro-cid-zsov6f23="true"
                        ><path
                            fill="currentColor"
                            d="M9.88 18.36a3 3 0 0 1-4.24 0a3 3 0 0 1 0-4.24l2.83-2.83l-1.41-1.41l-2.83 2.83a5.003 5.003 0 0 0 0 7.07c.98.97 2.25 1.46 3.54 1.46s2.56-.49 3.54-1.46l2.83-2.83l-1.41-1.41l-2.83 2.83Zm2.83-14.14L9.88 7.05l1.41 1.41l2.83-2.83a3 3 0 0 1 4.24 0a3 3 0 0 1 0 4.24l-2.83 2.83l1.41 1.41l2.83-2.83a5.003 5.003 0 0 0 0-7.07a5.003 5.003 0 0 0-7.07 0Z"
                        ></path><path
                            fill="currentColor"
                            d="m16.95 8.46l-.71-.7l-.7-.71l-4.25 4.24l-4.24 4.25l.71.7l.7.71l4.25-4.24z"
                        ></path></svg
                    >
                    <span class="sr-only" data-astro-cid-zsov6f23=""
                        >website</span
                    >
                </a>
            </div>
        </div>
        <div class="about-content" data-astro-cid-zsov6f23="">
            <h3 data-astro-cid-zsov6f23="">Tanner Tucci</h3>
            <p data-astro-cid-zsov6f23="">
                I'm a front end web developer with 3 years of freelance experience working with local clients across washington and oregon. 
                I have a strong background in HTML, CSS, and JavaScript, and I'm proficient in javascript frameworks including React and Astro and primarily enjoy building flashy animations and interactive web applications
                .
            </p>
            <p data-astro-cid-zsov6f23="">
                I enjoy any intricate and detail-oriented task. In my free time, I tattoo,
                paint warhammer minis and play video games.
            </p>
        </div>
    </article>
</section>
  </main>
</BaseLayout>

